@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Laptops with Exciting Diwali offers</h1>
    <div>
    <img src="~/Images/apple.jpg">
    <img src="~/Images/Dell.jpg">
    <img src="~/Images/Lapto.jpg">


</div>
    <p class="lead">Enjoy !! New deals every week – shop laptops with 10% cashback on ICICI, Citi cards plus exciting goodie & warranty offers. Free Delivery & Easy returns..</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">See more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with amazing prices</h2>
        <p>
            
            Starting at ₹ 32,489.99
            Starting at ₹ 31,990.01
            Starting at ₹ 1,04,989.99
            School & personal projects
            Browsing & entertainment
            Enhanced video chatting
            Social content creation
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more offers</h2>
        <p>
            For Everyday Access,
            Small Business Productivity,
            Creators & Creativity,With iconic designs, high-performance gaming and premium features, Alienware delivers the most immersive experiences.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>